/** CSS STYLE **/
:root {
  --white: #fff;
  --lightwhite: #d7ccc0;
  --light: #f5f4f0;
  --main: #fe8a02;
  --maindark: #42413c;
  --dark: #2a2626;
  --lightdark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  color: #2a2626;
}

h1, h2, h3 {
  font-weight: normal;
  font-family: "Neucha", sans-serif;
  line-height: 1.2em;
}

h1 {
  margin: 0;
  font-size: 72px;
}

h2 {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 165px;
}

header::before {
  content: url("../imgs/background.png");
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  max-height: 900px;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 10%;
}

header {
  padding: 100px 165px;
  background: var(--light);
  height: 950px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1110px;
}

.header-title {
  z-index: 2;
}

/* Text colors start */

.orangetext {
  color: var(--main);
}

.blacktext {
  color: #000;
}

.whitetext {
  color: var(--white);
}

/* Text colors end */

.header-image {
  position: absolute;
  top: 55px;
  left: 461px;
  margin: 0;
  padding: 0;
  height: 525px;
  z-index: 1;
}

header p {
  column-count: 2;
  column-gap: 30px;
  margin-top: 195px;
}

header .button {
  display: block;
  width: 148px;
  height: 49px;
  position: relative;
  left: 570px;
  top: 20px;
  padding: 12px 24px;
  
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;

  color: var(--white);
  
  border: none;
  background: var(--main);

  cursor: pointer;
}

.video {
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.video-title {
  margin: 30px 0;
  text-align: center;
}

.navigation {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  background: var(--maindark);
  margin-top: -200px;
  padding: 200px 165px 100px 165px;
}

.navigation-card {
  width: 350px;
  height: 323px;
  padding: 24px;
  background: var(--light);
  text-align: left;
}

.navigation-card-2 {
  width: 350px;
  height: 348px;
  margin-top: 20px;
  padding: 24px;
  background: var(--light);
  text-align: left;
}

.navigation-title {
  padding: 0;
  font-size: 52px;
  font-weight: 400;
  line-height: 62px;
  text-align: left;
  background: none;
}

.card-number {
  font-weight: normal;
  font-size: 64px;
  text-align: left;
}

.card-title {
  margin: 40px 0 0 0;
}
