/** CSS STYLE **/
:root {
  --white: #fff;
  --lightwhite: #d7ccc0;
  --light: #f5f4f0;
  --main: #fe8a02;
  --maindark: #42413c;
  --dark: #2a2626;
  --lightdark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

* {
  box-sizing: border-box;
}

body {
  width: 1440px;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  color: #2a2626;
}

h1, h2, h3 {
  font-weight: normal;
  font-family: "Neucha", sans-serif;
  line-height: 1.2em;
}

h1 {
  margin: 0;
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-style: 34px;
}

main, footer {
  padding: 100px 0;
  width: 1110px;
}

header::before {
  content: url("../imgs/background.png");
  position: absolute;
  top: 0;
  right: 0;
  max-width: 1440px;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 10%;
}

header {
  position: absolute;
  margin: 0;
  padding: 100px 165px;
  max-width: 1440px;
  background: var(--light);
}

.orangetext {
  position: absolute;
  color: var(--main);
  z-index: 2;
}

.blacktext {
  color: #000;
}

header img {
  margin: 0;
  padding: 0;
  position: relative;
  top: -45px;
  right: -300px;
  height: 525px;
}

header p {
  column-count: 2;
  column-gap: 30px;
  margin-top: -70px;
}

header .button {
  display: block;
  width: 148px;
  height: 49px;
  position: relative;
  left: 570px;
  top: 40px;
  padding: 12px 24px;
  
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;

  color: var(--white);
  
  border: none;
  background: var(--main);

  cursor: pointer;
}